.header{
    padding: 50px;
    
}
input{
    color: rosybrown;
    border: royalblue 2px solid;
}
.auto-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 8px;
    overflow: hidden; 
    width: 300px;    
    display: flex;
    flex-direction: column; 
}
.card-body-even{
    background-color:rosybrown;
    color: azure;
    
}
.card-img-top{
    width: 100%;
    object-fit: cover;      
    display: block;
    
}
.card-body-odd{
    background-color: azure;
    color: royalblue;
}