.header{
     padding: 50px;
    background-color:brown;

}
.user-name {
    color: white;
    position: absolute;      /* positions name relative to .header */
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 16px;
    
}
h1{
    color:aliceblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
